In [1]:
from pyspark.sql import SparkSession

In [3]:
spark_session = SparkSession.builder.appName("pyspark_dataframe_filtering").getOrCreate()
spark_session

In [5]:
spark_df = (spark_session
            .read
            .csv("file:///mnt/92D26AE0D26AC7D5/Python/pyspark/ararental.csv", header=True, inferSchema=True))
spark_df.show()

+---------+----------------+---------------+--------------+--------------+-----+-----+
|Vendor_ID|     Vendor_Name|        Address|          City|           Fax|Years|Sales|
+---------+----------------+---------------+--------------+--------------+-----+-----+
|   185227|American Rental |100 Grantley Ct| Sandy Springs|800  -714-7422|    3| 4530|
|    16054|    Attema Sales|  117 E 13th St|         Pella|641  -628-4983| null| 2300|
|   195852|     B & S Sales|  218 Maquan St|        Hanson|          null|    2| 8000|
|    35600|            null|    PO Box 3374|South Pasadena|818  -276-8409|    2| null|
|      761|            null|           null|   Lees Summit|816  -524-6983|    5| 5000|
+---------+----------------+---------------+--------------+--------------+-----+-----+

In [6]:
# we can use filter() function with condition as a string
spark_df.filter("Sales>4000").show()

+---------+----------------+---------------+-------------+--------------+-----+-----+
|Vendor_ID|     Vendor_Name|        Address|         City|           Fax|Years|Sales|
+---------+----------------+---------------+-------------+--------------+-----+-----+
|   185227|American Rental |100 Grantley Ct|Sandy Springs|800  -714-7422|    3| 4530|
|   195852|     B & S Sales|  218 Maquan St|       Hanson|          null|    2| 8000|
|      761|            null|           null|  Lees Summit|816  -524-6983|    5| 5000|
+---------+----------------+---------------+-------------+--------------+-----+-----+

In [9]:
# or we can use directly the condition we want with filter() function
spark_df.filter(spark_df["Sales"]>4000).show()

+---------+----------------+---------------+-------------+--------------+-----+-----+
|Vendor_ID|     Vendor_Name|        Address|         City|           Fax|Years|Sales|
+---------+----------------+---------------+-------------+--------------+-----+-----+
|   185227|American Rental |100 Grantley Ct|Sandy Springs|800  -714-7422|    3| 4530|
|   195852|     B & S Sales|  218 Maquan St|       Hanson|          null|    2| 8000|
|      761|            null|           null|  Lees Summit|816  -524-6983|    5| 5000|
+---------+----------------+---------------+-------------+--------------+-----+-----+

In [15]:
# we can use multiple conditions also
spark_df.filter((spark_df["Sales"]>4000) & (spark_df["Years"]>2)).show()

+---------+----------------+---------------+-------------+--------------+-----+-----+
|Vendor_ID|     Vendor_Name|        Address|         City|           Fax|Years|Sales|
+---------+----------------+---------------+-------------+--------------+-----+-----+
|   185227|American Rental |100 Grantley Ct|Sandy Springs|800  -714-7422|    3| 4530|
|      761|            null|           null|  Lees Summit|816  -524-6983|    5| 5000|
+---------+----------------+---------------+-------------+--------------+-----+-----+

In [12]:
# we can use "NOT" condition by including "~" with the condition we want
spark_df.filter(~(spark_df["Sales"]>4000)).show()

+---------+------------+-------------+-----+--------------+-----+-----+
|Vendor_ID| Vendor_Name|      Address| City|           Fax|Years|Sales|
+---------+------------+-------------+-----+--------------+-----+-----+
|    16054|Attema Sales|117 E 13th St|Pella|641  -628-4983| null| 2300|
+---------+------------+-------------+-----+--------------+-----+-----+